<ion-header>
  <ion-toolbar style="color: rgb(54, 54, 54);">
    <ion-title style="text-align: center; font-size: 1.5rem; color: #a5af4c;">
      <ion-icon style="color: #a5af4c;" name="qr-code" slot="start"></ion-icon>
      Registrar QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="scanner-content">
    <ion-card class="result-card">
      <ion-card-header>
        <ion-card-title>Resultado del QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="isUrl(result); else plainText">
          <a [href]="result" target="_blank">{{ result }}</a>
        </ng-container>
        <ng-template #plainText>
          {{ result }}
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ion-fab vertical="center" horizontal="center">
      <ion-fab-button (click)="scan()" class="custom-fab-button">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="custom-button" expand="full" shape="round" routerLink="/menu-home">
      <div (click)="loading2()">
        <ion-icon name="chevron-back-outline" style="color: rgb(255, 255, 255);"></ion-icon>
      </div>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
