<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <span class="app-name">RegistrApp</span>
      <img src="assets/img/logo.png" alt="App Logo" class="app-logo">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <p>Escanea el código QR de la clase</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <img alt="foto random de asistencia xd" style="height: 200px; display: block; margin: 0 auto;" src="assets/img/camara.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-button class="custom-button ion-margin-top" shape="round" expand="block" id="present-alert"  >Escanear</ion-button>
        <ion-alert
          trigger="present-alert"
          header="Alerta, la camara no funciona!"
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="custom-button" expand="full" shape="round" routerLink="/menu-home">
        <ion-icon name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>