img {
  width: auto;
  height: 100%;
}

ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

#btn-volver {
  margin-top: 2%;
}

ion-toolbar {
  --background: #272727;
  --color: rgb(238, 238, 238);
  --min-height: 10px;
  --padding-top: 20px;
  --padding-bottom: 10px;
}

.scanner-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.result-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #28a745;
}

.custom-button {
  --background: #a5af4c;
  --color: white;
}

ion-fab {
  --ion-background-color: #a5af4c;
  --ion-color: white;
}
