<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content" #titulo [class.animate]="animateLogo">
      <label style="color: #a5af4c;; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;">Ver noticias</label>
    </div>
    <div class="logo" #appLogo [class.animate]="animateLogo">
      <img src="assets/img/logo.png" slot="end" alt="App Logo" class="app-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let article of noticias"> <!-- Cambiar 'articles' a 'noticias' -->
    <img [src]="article.urlToImage" *ngIf="article.urlToImage" 
         [alt]="article.title ? article.title : 'Imagen relacionada con la noticia'"/>
    <ion-card-header>
      <ion-card-title>{{ article.title }}</ion-card-title>
      <ion-card-subtitle>{{ article.source.name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ article.description }}</p>
      <ion-button  expand="full" style="--background: #a8b630;" [href]="article.url" target="_blank"> Leer más </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="custom-button" expand="full" shape="round" routerLink="/menu-home">
        <div (click)="loading2()" >
          <ion-icon class="custom-button" name="log-out-outline" style="color: rgb(255, 255, 255);"></ion-icon>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>