<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <label style="color: rgb(3, 212, 3); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;">Ver noticias</label>
    </div>
    <img src="assets/img/logo.png" slot="end" alt="App Logo" class="app-logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let article of noticias"> <!-- Cambiar 'articles' a 'noticias' -->
    <img [src]="article.urlToImage" *ngIf="article.urlToImage" 
         [alt]="article.title ? article.title : 'Imagen relacionada con la noticia'"/>
    <ion-card-header>
      <ion-card-title>{{ article.title }}</ion-card-title>
      <ion-card-subtitle>{{ article.source.name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ article.description }}</p>
      <ion-button expand="full" style="--background: #09c409;" [href]="article.url" target="_blank"> Leer más </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="full" shape="round" routerLink="/menu-home">
        <ion-icon name="log-out-outline" style="color: green;" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>