<ion-header [translucent]="true">
  <ion-toolbar>
    <div #titulo [class.animate]="animateLogo">
      <ion-title class="app-name">Agenda</ion-title>
    </div>
    <div #appLogo [class.animate]="animateLogo">
      <img src="assets/img/logo.png" slot="end" alt="App Logo" class="app-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Escribe una nota</ion-label>
    <ion-textarea [(ngModel)]="newNote"></ion-textarea>
  </ion-item>

  <ion-button class="custom-button" expand="block" (click)="addNote()">Agregar Nota</ion-button>

  <ion-list>
    <ion-item *ngFor="let note of notes; let i = index">
      {{ note }}
      <ion-button fill="clear" color="danger" slot="end" (click)="confirmDelete(i)">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="custom-button" expand="full" shape="round" routerLink="/menu-home" (click)="loading2()" >
        <ion-icon name="log-out-outline" style="color: rgb(255, 255, 255);" ></ion-icon>
    </ion-button>
  </ion-buttons>