<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="app-name">Agenda</ion-title>
    <img src="assets/img/logo.png" slot="end" alt="App Logo" class="app-logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Escribe una nota !</ion-label>
    <ion-textarea [(ngModel)]="newNote"></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="success" (click)="addNote()">Agregar Nota</ion-button>

  <ion-list>
    <ion-item *ngFor="let note of notes; let i = index">
      {{ note }}
      <ion-button fill="clear" color="danger" slot="end" (click)="deleteNote(i)">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="custom-button" expand="full" shape="round" routerLink="/menu-home">
        <ion-icon name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>