.app-logo {
    width: 80px;
    height: 50px;
    border-radius: 15px;
    margin-left: auto; 
}

//nombre de la vista
.app-name {
    text-align: center;
    margin-top: 20px;
    margin-right: auto; 
    margin-left: 0%; 
    text-align: center;
    color: #39b82e;
}

.custom-button {
    --background: #4CAF50; /* Cambia este valor por el color que prefieras */
    --color: white;        /* Color del texto */
}

.username-highlight {
    color: #4CAF50; /* Cambia este valor al color que prefieras */
}

.attendance-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.no-data-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


//Fondo de pantalla
ion-header, ion-content {
    --background: transparent;
}


//barra de de arriba junto con nobre de pagina
ion-toolbar {
    --background: #272727;
    --color: rgb(238, 238, 238);
    
  
    
  }