<ion-header [translucent]="true">
  <ion-toolbar>
    <div #titulo [class.animate]="animateLogo">
    <ion-title class="app-name">Asistencias</ion-title>
  </div>
  <div #appLogo [class.animate]="animateLogo">
    <img src="assets/img/logo.png" slot="end" alt="App Logo" class="app-logo">
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, <span class="username-highlight">{{ username }}</span>!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>En esta sección podrás ver las asistencias registradas.</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="hasQrInfo()">
    <ion-card-header>
      <ion-card-title>General</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Asistencias totales: {{ getTotalAsistencias() }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let key of qrInfo | keyvalue">
    <ion-card-header>
      <ion-card-title>{{ key.key }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Asistencias: {{ key.value }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isQrInfoEmpty()">
    <ion-card-header>
      <ion-card-title>No hay asignaturas registradas.</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="custom-button" expand="full" shape="round" routerLink="/menu-home" (click)="loading2()" >
        <ion-icon name="log-out-outline" style="color: rgb(255, 255, 255);" ></ion-icon>
    </ion-button>
  </ion-buttons>