<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="btn-volver" shape="round" routerLink="/menu-home">volver</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card-header>
          <ion-card-title style="text-align: center">Generador de QR para marcar asistencia.</ion-card-title>
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" style="text-align: center">
        <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="ion-margin-top" shape="round" (click)="generateRandomQR()">
          Generar nuevo QR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
