.app-name {
    text-align: center;
    margin-top: 50px;
    color: #39b82e;
  }

  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
  }

  .centrado-horizontal {
    width: 50%; 
    margin: 0 auto;
    text-align: center;
  }

  ion-card {
    margin-top: 30%;
  }

  ion-header, ion-content {
    --background: transparent;
}
