<ion-content [fullscreen]="true">
<div class="app-name">
  <h1>Recupera tu contraseña</h1>
  <div class="welcome-message">
    <h2>{{message}}</h2>
  </div>

</div>

<ion-card>
  <ion-card-content>
    
    
    <ion-item>
      <ion-label position="stacked">Usuario.</ion-label>
      <ion-input [(ngModel)]="username" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nueva contraseña.</ion-label>
      <ion-input [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>

    <div class="welcome-message">
      <h2 *ngIf="isVisible">Su nueva contraseña es:</h2>
    </div>

    <div class="welcome-message">
      <h2 *ngIf="isVisible">{{password}}</h2>
    </div>

    <ion-button shape="round" expand="block" class="ion-margin-top" (click)="validateLogin()">
      Recuperar
    </ion-button>
    <ion-button shape="round" class="ion-margin-top" expand= "block" routerLink="/home">volver</ion-button>
    

  </ion-card-content>
</ion-card>
</ion-content>
