<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <label style="color: rgb(3, 212, 3); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;">RegistrApp</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <!--Instalar Ionic Storage para hacer funcionar el programa-->
<!-- npm install @ionic/storage-angular
npm install @ionic/storage
--> <!--Instalar Ionic Storage para hacer funcionar el programa-->
  <div class="welcome-message">
    <h2 style="color: white;">Di presente y entérate del presente</h2>
    <div #appLogo [class.animate]="animateLogo">
      <img src="assets/img/Logo p.png" alt="Descripción de la imagen" />
    </div>
  </div>

  <ion-card>
    <ion-card-content>
      
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="user" type="text" required placeholder="Nombre de usuario..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="pass" type="password" required placeholder="*****"></ion-input>
      </ion-item>

      
      <ion-button class="custom-button ion-margin-top" shape="round" expand="block" (click)="login()" (click)="loading()">
    Iniciar Sesión
</ion-button>


      
      <div class="centrado-horizontal">
        <a routerLink="/register" (click)="loading2()">¿No tienes cuenta? ¡Regístrate!</a>
      </div>
      <hr>

      
      <div class="centrado-horizontal">
        <a (click)="toggleChangePassword()">¿Olvidaste tu contraseña? ¡Recupérala!</a>
      </div>

      
      <div *ngIf="isChangingPassword">
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input [(ngModel)]="userToChangePassword" type="text" placeholder="Ingrese el usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="newPassword" type="password" placeholder="Ingrese nueva contraseña"></ion-input>
        </ion-item>

        <ion-button class="custom-button ion-margin-top" shape="round" expand="block"(click)="changePassword()">
          Cambiar Contraseña
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
