<ion-content class="ion-padding">
  <div class="app-name">
    <h1>RegistrApp</h1>
  </div>
  <!--Instalar Ionic Storage para hacer funcionar el programa-->
<!-- npm install @ionic/storage-angular
npm install @ionic/storage
--> <!--Instalar Ionic Storage para hacer funcionar el programa-->
  <div class="welcome-message">
    <h2>Ahora se pueden crear Users y quedan en Storage!(Ionic storage)</h2>
  </div>

  <ion-card>
    <ion-card-content>
      
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="user" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="pass" type="password" required></ion-input>
      </ion-item>

      
      <ion-button shape="round" expand="block" class="ion-margin-top" (click)="login()">
        Iniciar Sesión
      </ion-button>

      
      <div class="centrado-horizontal">
        <a routerLink="/register">¿Tienes cuenta? ¡Regístrate!</a>
      </div>
      <hr>

      
      <div class="centrado-horizontal">
        <a (click)="toggleChangePassword()">¿Olvidaste tu contraseña?</a>
      </div>

      
      <div *ngIf="isChangingPassword">
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input [(ngModel)]="userToChangePassword" type="text" placeholder="Ingrese el usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="newPassword" type="password" placeholder="Ingrese nueva contraseña"></ion-input>
        </ion-item>

        <ion-button shape="round" expand="block" class="ion-margin-top" (click)="changePassword()">
          Cambiar Contraseña
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
