.app-name {
  text-align: center;
  margin-top: 20px;
  margin-right: auto; 
  margin-left:0%; 
  text-align: center;
  color: #39b82e;
}

.welcome-message {
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
}

.centrado-horizontal {
  width: 50%; 
  margin: 0 auto;
  text-align: center;
}

ion-card {
  margin-top: 30%;
}

.header-content {
  display: flex;
  align-items: center; 
  justify-content: center; 
}



.app-logo {
  width: 80px;
  height: 50px;
  border-radius: 15px;
  margin-left: auto; 
}

ion-toolbar {
  --background: #272727;
  --color: rgb(238, 238, 238);
  

  --min-height: 10px;
  --padding-top: 20px;
  --padding-bottom: 10px;
}


.custom-button {
  --background: #4CAF50; /* Cambia este valor por el color que prefieras */
  --color: white;        /* Color del texto */
}

ion-header, ion-content {
  --background: transparent;
}

img {
  width: 100%;           /* Para que ocupe el ancho completo */
  max-width: 300px;      /* Tamaño máximo */
  height: auto;          /* Mantener la proporción */
  display: block;
  margin: 0 auto;        /* Centrar la imagen */
  border-radius: 10px;   /* Bordes redondeados (opcional) */
  border: 3px solid #39b82e; /* Borde de color */
    border-radius: 50%;        /* Redondeo completo para hacerla circular */
    width: 150px;              /* Ajusta el tamaño de la imagen */
    height: 150px;
    object-fit: cover;  
  
}
