

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <label style="color: rgb(3, 212, 3); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;">Menu</label>
    </div>
    <img src="assets/img/logo.png" slot="end" alt="App Logo" class="app-logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card-header>
          <ion-card-title style="text-align: center; color: white;">Bienvenido a RegistrApp {{username}}!</ion-card-title>
        </ion-card-header>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin-vertical">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button ion-margin-top" shape="round" expand="block" routerLink="/registrar-qr" (click)="loading2()">Registrar código QR</ion-button>
        <ion-button class="custom-button ion-margin-top" shape="round" expand="block" routerLink="/agenda">Agenda</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="custom-button" expand="full" shape="round" routerLink="/home" (click)="loading2()" >
          <ion-icon name="log-out-outline" style="color: rgb(244, 250, 244);" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="custom-button" expand="full" shape="round" routerLink="/noticias">
        <div (click)="loading2()" >
        <ion-icon name="newspaper-outline" style="color: rgb(247, 250, 247);" ></ion-icon>
      </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
