

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="app-name" >Menu</ion-title>
    <img src="assets/img/logo.png" slot="end" alt="App Logo" class="app-logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card-header>
          <ion-card-title style="text-align: center">Bienvenido a RegistrApp {{username}}!</ion-card-title>
        </ion-card-header>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-margin-vertical">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="custom-button ion-margin-top" shape="round" expand="block" routerLink="/registrar-qr">Registrar código QR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="full" shape="round" routerLink="/home">
        <ion-icon name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button expand="full" shape="round" routerLink="/noticias">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
