<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu-home</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button shape="round" routerLink="/home">Logout</ion-button>

  <ion-button expand="block" class="ion-margin-top" routerLink="/asistencia-generador">
    Generar Codigo
  </ion-button>


  <ion-button expand="block" class="ion-margin-top" routerLink="/registrar-qr">
    Registrar codigo
  </ion-button>

</ion-content>
