#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #818080;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  ion-toolbar {
    --background: #272727;
    --color: rgb(238, 238, 238);
    
  
    --min-height: 10px;
    --padding-top: 20px;
    --padding-bottom: 10px;
  }

  ion-grid{
    margin-top: 35%;
  }

  #btn-logout{
    margin-top: 2%;
  }