<ion-header>
  <ion-toolbar>
    <label style="color: rgb(3, 212, 3); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger; align-items: center; text-align: center; justify-content: 
    center; display: flex;">Crear cuenta</label>
    <img src="assets/img/logo.png" alt="App Logo" class="app-logo" slot="end">
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="user" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Paterno</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Materno</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      
      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
      </ion-item>

      <ion-item >
        <ion-datetime  presentation="date" preferWheel={true} display-format="DD-MMM-YYYY" class="move-left"> </ion-datetime>
      </ion-item>

      <ion-button  class="custom-button ion-margin-top" shape="round" expand="block"(click)="register()" (click)="loading2()">
        Registrar
      </ion-button>
      
      <ion-button class="custom-button ion-margin-top" shape="round" expand="block" routerLink="/home" (click)="loading2()">
        Volver
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>


  </ion-toolbar>
</ion-footer>
