<ion-header>
  <ion-toolbar>
    <ion-title class="app-name">Crear cuenta</ion-title>
    <img src="assets/img/logo.png" alt="App Logo" class="app-logo" slot="end">
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="user" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-button  class="custom-button ion-margin-top" shape="round" expand="block"(click)="register()">
        Registrar
      </ion-button>
      
      <ion-button class="custom-button ion-margin-top" shape="round" expand="block" routerLink="/home">
        Volver
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>


  </ion-toolbar>
</ion-footer>
