.app-name {
  text-align: center;
  margin-top: 20px;
  margin-right: auto; 
  margin-left: 20%; 
  text-align: center;
  color: #53bd49;
  }

  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
  }

  .centrado-horizontal {
    width: 50%; 
    margin: 0 auto;
    text-align: center;
  }

  ion-card {
    margin-top: 30%;
<<<<<<< Updated upstream
=======
  }

  ion-toolbar {
    --background: #272727;
    --color: rgb(238, 238, 238);
    --min-height: 10px;
    --padding-top: 20px;
    --padding-bottom: 10px;
  
    display: flex;
    align-items: center;
  }
  
  
  
  .app-logo {
    width: 80px;
    height: 50px;
    border-radius: 15px;
  }

  .custom-button {
    --background: #4CAF50; 
    --color: white;        
  }
  /* Confi fondo de vistas en general */
  ion-header, ion-content {
    --background: transparent;
>>>>>>> Stashed changes
  }